body, ul, li, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

#canvas {
  border: 1px solid black;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/1.png);
}

.start {
  width: 600px;
  height: 600px;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/3.png);
}

.start input {
  background: #f0cd14;
  padding: 12px 30px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px;
  border-radius: 50%;
  font-weight: bold;
  position: absolute;
  right: 80px;
  bottom: 30px;
}

.cartel {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0;
  top: 0;
}

.cartel .tips {
  width: 600px;
  background: url(../img/1.png);
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.cartel .tips #close::after {
  opacity: 0;
  transform: scale(0.8, 0.8);
  transition: transform .6s ease,opacity .6s ease;
  content: 'X';
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15px;
  right: -15px;
  background: black;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-family: "consolas";
}

.cartel .tips h3 {
  color: red;
  font-size: 40px;
  letter-spacing: 7px;
  line-height: 200px;
}

.cartel .tips span {
  cursor: pointer;
  margin-top: 15px;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background: #51b433;
  font-weight: bold;
  letter-spacing: 3px;
}

.cartel .tips #qipu {
  margin-left: 100px;
}

.cartel .tips:hover #close::after {
  opacity: 1;
  transform: none;
}

#save {
  display: none;
  padding: 30px;
  background: #62a9ec;
  color: #fff;
  font-size: bold;
  position: fixed;
  top: 0;
  right: 0;
}
